.full-length-top-photo {
  background-image: url(../img/hero.09bfd0f9.jpg);
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
  border: 5px solid aqua;
  display: block;
}

.whiteBox {
  height: 272px;
  width: 410px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: space-around; */
  position: absolute;
  top: 75px;
  box-shadow: 0 0 2px rgb(17 17 17 / 24%);
  font-weight: 100;
}
.torn-effect {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}
.offers-display {
  width: 1280px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  /* border: 2px solid aqua; */
}

.dl span {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 1.8em;
  font-weight: bold;
}
.avatar-mini {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-container {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
  /* display: flex; */
  /* flex-wrap: wrap; */

  /* flex-direction: column-reverse; */
}
.card-avatar-username {
  /* display: flex; */
  align-items: center;
  padding: 10px;
}
.card-avatar-username img:first-child {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.product-image {
  height: 360px;
  width: 235px;
  object-fit: cover;
  border: brown 2px solid;
}
.whiteBox > .whiteBox-button {
  height: 5vh;
  width: 13vw;
  margin-top: 3vh;
  /* height: 45px;
  width: 187px; */
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  /* margin-top: 32px; */
}
/* .whiteBox h3 {
  font-size: 24px;
} */
