.full-length-top-photo {
  background-image: url(../img/hero.09bfd0f9.jpg);
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
  border: 5px solid aqua;
  /* display: block; */
}
.whiteBox {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  box-shadow: 0 0 2px rgb(17 17 17 / 24%);
}
.offers-display {
  width: 1280px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  /* border: 2px solid aqua; */
}
/* .downloading {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 68%;
    /* position: relative; */
/* position: absolute; */
/* height: 100vh;
    width: 100vw; */
/* background-image: url("https://media.giphy.com/media/curuTbwjOnsRO/giphy.gif");
    background-repeat: no-repeat; */

.downloading span {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 1.8em;
  font-weight: bold;
}
.avatar-mini {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-container {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}
.card-avatar-username {
  display: flex;
  align-items: center;
  padding: 10px;
}
.card-avatar-username img:first-child {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.card-container-container img:last-child {
  height: 360px;
  width: 235px;
  object-fit: cover;
}
