.offer-body {
  height: calc(100vh - 60px);
  background-color: #ebedee;
}
.offer-picture {
  height: 600px;
  object-fit: cover;
}
.offer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
}
.offer-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 320px;
  padding: 40px;
  border: solid 2px aqua;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.offer-list {
  list-style-type: none;
  padding: 0;
}

.offer-list li {
  display: flex;
  padding: 2px 0;
}
.offer-infos .line {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}
.offer-content .name {
  font-weight: 700;
}
.offer-infos .descritpion {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.offer-avatar-username {
  display: flex;
  align-items: center;
}
.offer-infos button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}
.offer-avatar-username > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
