form {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-details,
.titre-description {
  display: flex;
  flex-direction: column;
}
