form {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-details,
.title-description {
  display: flex;
  flex-direction: column;
}
.dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.gif {
  width: 1280px;
  margin: auto;
}
