.header {
  /* height: 5vh; */
  margin: auto;
  padding: 10px 0;
  border-bottom: solid 1px aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  /* width: 70vw; */
}
.header img {
  height: 10vh;
  border: aqua 1px solid;
  object-fit: cover;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
button {
  height: 3vh;
}
.header-button-disconnect {
  background-color: #c2165b;
}
