/* Other rules */
* {
  border: 0.1em solid aqua;
  box-sizing: border-box;
}
/* .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
} */
/* display: flex; */
/* flex-wrap: wrap; */
/* justify-content: flex-start;
  margin: 0 3vw;
  max-width: 1024px; */
/* background-color: cornflowerblue; */
div {
  display: block;
}
section {
  border-top: aquamarine solid 2px;
  border-bottom: aquamarine solid 2px;
}
body {
  margin: 0;
  display: block;
}
